{% if reviews %}
{% for review in reviews %}
<article class="product-review">
  <header class="product-review__header">
    <strong>{{ review.author }}</strong>
    <time datetime="{{ review.date_added_iso }}">{{ review.date_added }}</time>
  </header>
  <div class="product-review__body">
    <p>{{ review.text }}</p>
    <div class="rating" aria-label="Оценка: {{ review.rating }} из 5">
      {% for i in 1..5 %}
      {% if review.rating < i %} <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> {% else %} <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> {% endif %}
      {% endfor %}
    </div>
  </div>
</article>
{% endfor %}
<div class="row">
  <div class="col-sm-6 text-left">{{ pagination }}</div>
  <div class="col-sm-6 text-right">{{ results }}</div>
</div>
{% else %}
<p>{{ text_no_reviews }}</p>
{% endif %}
